{% extends "base.html" %}
{% load staticfiles i18n mezzanine_tags accounts_tags %}

{% block meta_title %}{% trans "Upgrade Membership" %}{% endblock %}
{% block title %}{% trans "Upgrade Membership" %}{% endblock %}
{% block body_id %}{% trans "Upgrade Membership" %}{% endblock %}

{% block left_side %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block center %}

            <div id="change-member-cont">
                <h3 style="text-align:center;">Change Membership Capability disabled awaiting new information</h3>

            </div>
{% endblock center %}

{% block right_side %}
{% endblock %}