{% extends "pages/page.html" %}

{% load static mezzanine_tags shop_tags i18n mathfilters pages_tags patch_tags %}
{% block body_id %}category{% endblock %}

{#{% block main %}{{ block.super }}#}


{% block submenu %}
    <div class="container submenu-cont">
        <div class="row submenu">
            {% block breadcrumb %}
                {% block breadcrumb_menu %}
                    <ul class="breadcrumb col-xs-6 col-lg-8">
                    {% if tag or category or year or month or author %}
                        <a style="color:black;" href="{% url 'blog_post_list' %}">{{ page.title|capfirst }}</a> >>
                        <li>{% spaceless %}
                        {% if tag %}
                            {% trans "Tag:" %} {{ tag }}
                        {% else %}{% if category %}
                            {% trans "Category:" %} {{ category }}
                        {% else %}{% if year or month %}
                            {% if month %}{{ month }}, {% endif %}{{ year }}
                        {% else %}{% if author %}
                            {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
                        {% endif %}{% endif %}{% endif %}{% endif %}
                        {% endspaceless %}
                        </li>
                    {% else %}
                        {% page_menu "pages/menus/breadcrumb.html" %}
                    {% endif %}
                    </ul>
                {% endblock %}
            {% endblock breadcrumb %}
            {% block navbar_search_form %}
                <div class="navbar-right nav-search col-xs-6 col-lg-4">
                    {% search_form "shop.Products" %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock submenu %}
    {% block carousel %}
        <div class="visible-xs-block">
            <div class="mobile-hero">
                <a href="{{ featured_products.0.get_absolute_url }}">
                  <img class="mobile-hero-img img-responsive" src="{{ MEDIA_URL }}{% thumbnail featured_products.0.featured_image 736 736 %}" alt="First slide">
                    <div class="carousel-caption">
                      <h1>{{ featured_products.0.title }}</h1>
    {#                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et vehicula nunc. Sed ullamcorper sem nec elit sagittis, non molestie lorem commodo. </p>#}
                    </div>
                </a>
            </div>
        </div>
        <div class="visible-lg-block visible-md-block visible-sm-block">
            <div id="myCarousel" class="carousel slide index-scroller blog-main-img-cont" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href="{{ featured_products.0.get_absolute_url }}">
                      <img class="first-slide blog-main-img" src="{{ MEDIA_URL }}{% thumbnail featured_products.0.featured_image  1298 715 %}" alt="First slide">
                      <div class="container">
                        <div class="carousel-caption">
                          <h1>{{ featured_products.0.title }}</h1>
        {#                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et vehicula nunc. Sed ullamcorper sem nec elit sagittis, non molestie lorem commodo. </p>#}
                        </div>
                      </div>
                    </a>
                </div>
                <div class="item">
                    <a href="{{ featured_products.1.get_absolute_url }}">
                      <img class="second-slide blog-main-img" src="{{ MEDIA_URL }}{% thumbnail featured_products.1.featured_image 1298 715  %}" alt="Second slide">
                      <div class="container">
                        <div class="carousel-caption">
                          <h1>{{ featured_products.1.title }}</h1>
        {#                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>#}
                        </div>
                      </div>
                    </a>
                </div>
                <div class="item">
                    <a href="{{ featured_products.2.get_absolute_url }}">
                      <img class="third-slide blog-main-img" src="{{ MEDIA_URL }}{% thumbnail featured_products.2.featured_image 1298 715  %}" alt="Third slide">
                      <div class="container">
                        <div class="carousel-caption">
                          <h1>{{ featured_products.2.title }}</h1>
        {#                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>#}
                        </div>
                      </div>
                    </a>
                </div>
              </div>
                <div class="carousel-set">
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                    </a>
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active">
                        <span></span>
                        <div class="line"></div>
                        </li>
                        <li data-target="#myCarousel" data-slide-to="1" class="">
                        <span></span>
                        <div class="line"></div>
                        </li>
                        <li data-target="#myCarousel" data-slide-to="2" class="">
                        <span></span>
                        </li>
                    </ol>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}

{% block left_side %}
{% endblock left_side %}

{% block center %}

{#{% editable page.category.content %}#}
{#{{ page.category.content|safe }}#}
{#{% endeditable %}#}

{#<div class="shop-search-container">#}
{#    {% search_form "shop.Product" %}#}
{#</div>#}
{#{% if child_categories %}#}
{#<div class="row shop-category-list">#}
{#{% if settings.SHOP_CATEGORY_USE_FEATURED_IMAGE %}#}
{#    {% for category in child_categories %}#}
{#    <div class="col-xs-6 col-sm-4 col-lg-3">#}
{#    <a href="{{ category.get_absolute_url }}" class="thumbnail">#}
{#        {% if category.featured_image %}#}
{#        <img src="{{ MEDIA_URL }}{% thumbnail category.featured_image 148 148 %}" />#}
{#        {% else %}#}
{#        <div class="placeholder"></div>#}
{#        {% endif %}#}
{#        <div class="caption">#}
{#            <h4>{{ category.title }}</h4>#}
{#        </div>#}
{#    </a>#}
{#    </div>#}
{#    {% endfor %}#}
{#{% else %}#}
{#    {% for category in child_categories %}#}
{#    <div class="col-xs-6 col-sm-4 col-lg-3">#}
{#    <a href="{{ category.get_absolute_url }}" class="thumbnail">#}
{#        <div class="caption"><h4>{{ category.title }}</h4></div>#}
{#    </a>#}
{#    </div>#}
{#    {% endfor %}#}
{#{% endif %}#}
{#</div>#}
{#{% endif %}#}

{% if products.paginator.count != 0 %}

{#<form class="product-sorting" role="form">#}
{#    <div class="form-group">#}
{#    <label class="control-label" for="sorting-select">{% trans "Sort by" %}</label>#}
{#        <select onchange="location.href = this[this.selectedIndex].value;" class="form-control" id="sorting-select">#}
{#        {% for name, option in settings.SHOP_PRODUCT_SORT_OPTIONS %}#}
{#        {% if "rating" not in option or settings.SHOP_USE_RATINGS %}#}
{#        <option{% if option == products.sort_by %} selected{% endif %}#}
{#            value="{{ category.get_absolute_url }}?sort={{ option }}{{ querystring }}">#}
{#            {{ name }}#}
{#        </option>#}
{#        {% endif %}#}
{#        {% endfor %}#}
{#        </select>#}
{#    </div>#}
{#</form>#}

{#<div class="row product-list">#}
{#{% for product in products.object_list %}#}
{#    <div class="col-xs-6 col-sm-4 col-lg-3 product-thumb">#}
{#    <a href="{{ product.get_absolute_url }}" class="thumbnail">#}
{#        {% if product.image %}#}
{#        <img src="{{ MEDIA_URL }}{% thumbnail product.image 148 148 %}">#}
{#        {% else %}#}
{#        <div class="placeholder"></div>#}
{#        {% endif %}#}
{#        <div class="caption">#}
{#        <h6>{{ product }}</h6>#}
{#        <div class="price-info">#}
{#        {% if product.has_price %}#}
{#            {% if product.on_sale %}#}
{#            <span class="old-price">{{ product.unit_price|currency }}</span>#}
{#            {% trans "On sale:" %}#}
{#            {% endif %}#}
{#            <span class="price">{{ product.price|currency }}</span>#}
{#        {% else %}#}
{#            <span class="coming-soon">{% trans "Coming soon" %}</span>#}
{#        {% endif %}#}
{#        </div>#}
{#        </div>#}
{#    </a>#}
{#    </div>#}
{#{% endfor %}#}
{#</div>#}

{#<div class="row product-list">#}
{#{% for product in products.object_list %}#}
{#{% for product, discount in products_discounts %}#}
{#    <div class="col-sm-12 col-md-6 my-product-thumb">#}
{#    <a href="{{ product.get_absolute_url }}" class="thumbnail-product">#}
{#        {% if product.image %}#}
{#        <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail product.image 400 600 %}">#}
{#        {% else %}#}
{#        <div class="placeholder"></div>#}
{#        {% endif %}#}
{#        <div class="caption">#}
{#            <h4 class="product-thumbnail-title">{{ product }}</h4>#}
{#        <div class="price-info">#}
{#        {% if product.has_price %}#}
{#            {% if product.on_sale or request.user.membership.is_member %}#}
{#                <span class="old-price">{{ product.unit_price|currency }}</span>#}
{#            {% endif %}#}
{#            {% if request.user.membership.level == "regular" or request.user.is_anonymous %}#}
{#                <!-- on sale but not member-->#}
{#                {% if product.on_sale %}#}
{#                    <span class="price">{{ product.price|currency }}</span>#}
{#                    <span class="old-price">{{ product.unit_price|currency }}</span>#}
{#                    {% trans 'ON SALE!' %}#}
{#                {% else %}#}
{#                    <span class="price">{{ product.unit_price|currency }}</span>#}
{#                {% endif %}#}
{#                <!-- member -->#}
{#            {% else %}#}
{#                {% if product.on_sale %}#}
{#                    {% trans "On sale: " %}#}
{#                    <span class="price">#}
    {#                    {% trans "Member Price: " %}#}
{#                        {{ product.price|sub:discount|currency }}#}
{#                    </span>#}
{#                    <span class="old-price">{{ product.unit_price|currency }}</span>#}
{#                    <span>{% trans 'SALE + DISCOUNT' %}</span>#}
{#                {% else %}#}
{#                    <span class="price">#}
    {#                    {% trans "Member Price: " %}#}
{#                        {{ product.price|sub:discount|currency }}#}
{#                    </span>#}
{#                    <span class="old-price">{{ product.unit_price|currency }}</span>#}
{#                {% endif %}#}
{#            {% if variation.on_sale %}#}
{#                <span class="old-price">{{ product.unit_price|sub:discount|currency }}</span>#}
{#                {% trans "On sale:" %}#}
{#            {% endif %}#}
{#            <span class="price">{{ product.price|sub:discount|currency }}</span>#}
{#        {% else %}#}
{#            <span class="coming-soon">{% trans "Coming soon" %}</span>#}
{#        {% endif %}#}
{#        </div>#}
{#        </div>#}
{#    </a>#}
{#    </div>#}
{#{% endfor %}#}
{#</div>#}

<div class="pl_products">
    <div class="pl_products_bg">
        <div class="container">
            <ul class="pl-product-categories col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <li class="pl-product-categories-line"></li>
                <li class="pl-product-category"><a href="{{ category.get_absolute_url }}?sort=-date_added{{ querystring }}">{% trans 'Newest Products' %}</a></li>
                <li class="pl-product-category"><a href="{{ category.get_absolute_url }}?sort=-num_sold{{ querystring }}">{% trans 'Popular' %}</a></li>
                <li class="pl-product-category"><a href="{{ classes_category.get_absolute_url }}">{% trans 'Classes' %}</a></li>
                <li class="pl-product-category"><a href="{% url "page" "shop" %}">{% trans 'All Products' %}</a></li>
                <li class="pl-product-categories-line"></li>
            </ul>
            <ul class="pl-products-list col-xs-12 col-sm-12 col-md-12 col-lg-12">
{#                {% include page_template %}#}
{#                {% for product in products %}#}
{#                    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">#}
{#                        <a href="{{ product.get_absolute_url }}">#}
                {#                        <img src="{% static 'img/placeholders/product02.jpg' %}" alt="转运琉璃烛" class="img-responsive center-block">#}
{#                            <img src="{{ MEDIA_URL }}{% thumbnail product.image 327 477 %}" alt="{{ product.title }}" class="img-responsive center-block">#}
{#                            <p class="pl-title">#}
{#                                {{ product.title }}#}
{#                            </p>#}
{#                            <hr class="pl-title-border">#}
{#                            <p class="product-price">{{ product.price|currency_2 }}</p>#}
                {#                        <span></span>#}
{#                        </a>#}
{#                    </li>#}
{#                {% endfor %}#}


            {% for product, discount in products_discounts %}
                <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ MEDIA_URL }}{% thumbnail product.image 327 477 %}" alt="{{ product.title }}" class="img-responsive center-block pl-product-img">
                        <p class="pl-title">
                            {{ product.title }}
                        </p>
                        <hr class="pl-title-border">
                        {% if product.has_price %}
                            <div class="pl-prices">
                            {% if request.user.membership.is_member %}
                                {% if product.on_sale %}
                                    <span class="pl-old-price">{{ product.unit_price|currency_2 }}</span>
                                    <span class="pl-price">{{ product.price|sub:discount|currency_2 }}</span>
                                {% else %}
                                    <span class="pl-price">{{ product.price|sub:discount|currency_2 }}</span>
                                {% endif %}
                            {% else %}
                                {% if product.on_sale %}
                                    <span class="pl-old-price">{{ product.unit_price|currency_2 }}</span>
                                    <span class="pl-price">{{ product.price|currency_2 }}</span>
                                {% else %}
                                    <span class="pl-price">{{ product.price|currency_2 }}</span>
                                {% endif %}
                            {% endif %}
                            </div>
                        {% else %}
{#                            <div>#}
{#                            {% if has_available_variations %}#}
{#                            <span class="error-msg">#}
{#                            {% trans "Out of stock" %}#}
{#                            </span>#}
{#                            {% endif %}#}
{#                            </div>#}
                            <div class="pl-prices">
                            <span class="pl-price">
                            {% trans "Click for details" %}
                            </span>
                            </div>
                        {% endif %}
{#                        <p class="product-price">{{ product.price|currency_2 }}</p>#}
                    </a>
                </li>
            {% endfor %}




{#                {% for product in products %}#}
{#                <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">#}
{#                    <a href="{{ product.get_absolute_url }}">#}
{#                        <img src="{% static 'img/placeholders/product02.jpg' %}" alt="转运琉璃烛" class="img-responsive center-block">#}
{#                        <img src="{{ MEDIA_URL }}{% thumbnail product.image 342 500 %}" alt="{{ product.title }}" class="img-responsive center-block">#}
{#                        <p class="pl-title">#}
{#                            {{ product.title }}#}
{#                        </p>#}
{#                        <hr class="pl-title-border">#}
{#                        <p class="product-price">{{ product.price|currency }}</p>#}
{#                        <span></span>#}
{#                    </a>#}
{#                </li>#}
{#                {% endfor %}#}
{#                <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4">#}
{#                    <a href="#" target="_blank">#}
{#                        <img src="{% static 'img/placeholders/product01.jpg' %}" alt="转运琉璃烛" class="img-responsive center-block">#}
{#                        <p><span>转运琉璃烛</span>商业专用，能增财运，对商店及写字楼最为有利。</p>#}
{#                    </a>#}
{#                    <span></span>#}
{#                </li>#}
{#                <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4">#}
{#                    <a href="#" target="_blank">#}
{#                        <img src="{% static 'img/placeholders/product02.jpg' %}" alt="转运琉璃烛" class="img-responsive center-block">#}
{#                        <p><span>转运琉璃烛</span>商业专用，能增财运，对商店及写字楼最为有利。</p>#}
{#                    </a>#}
{#                    <span></span>#}
{#                </li>#}
            </ul>
        </div>
    </div>
</div>

{#{% pagination_for products %}#}

{% endif %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 cd-top-cont">
            <a href="#0" class="cd-top">
                <img src="{% static 'img/toparrow.png' %}">
            </a>
        </div>
    </div>
</div>

{% endblock center %}

{% block more-button %}
<div class="">
    <div class="more-bar-bg">
        <p class="more-bar-content">
            {% trans "End of the line" %}
        </p>
    </div>
</div>
{% endblock %}


{#{% endblock %}#}

{% block footer_js %}
    {{ block.super }}
{#    <script src="http://code.jquery.com/jquery-latest.js"></script>#}
    <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
{#    <script>$.endlessPaginate();</script>#}
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 20
        });
    </script>
{% endblock %}
