<!DOCTYPE html>
<html lang="zh-cn"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>万达文化</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/bootstrap.css">
<link rel="stylesheet" href="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/style.css">
<script src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/jquery-1.js"></script>
<script src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/bootstrap.js"></script>
<script src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/bootstrap-carousel.js"></script>
<style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style></head>
<body>
<div class="logo">
<a href="#" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5"><img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/logo.png" alt="万达文化" class="img-responsive center-block"></a>
</div>
<div class="nav">
<div class="container">
<ul>
<li class="col-xs-2 col-sm-1 col-md-1 col-lg-1"><a href="#" target="_blank">HOME</a></li>
<li class="col-xs-3 col-sm-2 col-md-1 col-lg-1"><a href="#" target="_blank">ARTICLES</a></li>
<li class="col-xs-2 col-sm-1 col-md-1 col-lg-1"><a href="#" target="_blank">FORUM</a></li>
<li class="col-xs-4 col-sm-2 col-md-1 col-lg-1"><a href="#" target="_blank">ABOUT US</a></li>
<li class="col-xs-2 col-sm-1 col-md-1 col-lg-1"><a href="#" target="_blank">SHOP</a></li>
<li class="col-xs-3 col-sm-2 col-md-1 col-lg-1"><a href="#" target="_blank">FORTUNE</a></li>
<li class="col-xs-3 col-sm-2 col-md-1 col-lg-1"><a href="#" target="_blank">PRAYERS</a></li>
<li class="col-sm-1 col-md-1 col-lg-1 cart"><a href="#" target="_blank"><img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/cart_icon.png" alt="cart" class="img-responsive">0</a></li>
<li class="col-sm-1 col-md-1 col-lg-1">&nbsp;</li>
<li class="col-sm-1 col-md-1 col-lg-1"><a href="#" target="_blank">ENGLISH</a></li>
<li class="col-sm-1 col-md-1 col-lg-1"><a href="#" target="_blank">LOGIN</a></li>
<li class="col-sm-1 col-md-1 col-lg-1"><a href="#" target="_blank">SIGN UP</a></li>
</ul>
</div>
</div>
<div class="banner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item">
            <img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/banner01.jpg" alt="First slide">
            </div>
            <div class="item">
            <img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/banner01.jpg" alt="First slide">
            </div>
            <div class="item active">
            <img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/banner01.jpg" alt="First slide">
            </div>
        </div>

        <div class="carousel-set">
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            </a>

            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="">
                <span></span>
                <div class="line"></div>
                </li>
                <li data-target="#myCarousel" data-slide-to="1" class="">
                <span></span>
                <div class="line"></div>
                </li>
                <li data-target="#myCarousel" data-slide-to="2" class="active">
                <span></span>
                </li>
            </ol>

            <a class="carousel-control right" href="#myCarousel" data-slide="next">
            </a>
        </div>
    </div>
</div>
 
<div class="ts_products">
    <div class="ts_products_bg">
        <div class="container">
        <div class="ts_title">特色商品<small>featured item</small><span></span></div>
        <ul class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <a href="#" target="_blank">
        <img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/product01.jpg" alt="转运琉璃烛" class="img-responsive center-block">
        <p><span>转运琉璃烛</span>商业专用，能增财运，对商店及写字楼最为有利。</p>
        </a>
        <span></span>
        </li>
        <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <a href="#" target="_blank">
        <img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/product02.jpg" alt="转运琉璃烛" class="img-responsive center-block">
        <p><span>转运琉璃烛</span>商业专用，能增财运，对商店及写字楼最为有利。</p>
        </a>
        <span></span>
        </li>
        <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <a href="#" target="_blank">
        <img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/product03.jpg" alt="转运琉璃烛" class="img-responsive center-block">
        <p><span>转运琉璃烛</span>商业专用，能增财运，对商店及写字楼最为有利。</p>
        </a>
        <span></span>
        </li>
        </ul>
        </div>
    </div>
</div>
 
 
<div class="about">
<div class="about_bg">
<div class="about_title">关于我们<small>about us</small><span></span></div>
<div class="about_content">
<div class="container">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 about_text">
<span class="about_lt"><img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/about_lt.png" class="img-responsive"></span>
<span class="about_rb"><img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/about_rb.png" class="img-responsive"></span>
<dl class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<dt class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
<img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/aboutimg.jpg" alt="" class="img-responsive center-block">
</dt>
<dd class="col-xs-12 col-sm-12 col-md-9 col-lg-9">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>SE
 Brilliant Limited consider to insight into the natural disasters and 
fleeting fengshui flying star as company’s responsibility.<br>And 
explain some of the little- known natural disasters and epidemics, the 
mysterious flying stars of the location of the infinity is very 
consistent.<br>From the scientific point of view and digital logic to 
explain to the customer about the so-called fengshui metaphysics of the 
secret, in fact, the results of digital projections, to share the 
fengshui subtle place, and customers brainstorming, while customers 
solve some difficult problems. Such as litigation, human relationship 
popularity.<br>
<a href="#" target="_blank"><img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/more.png" alt="更多" class="img-responsive"></a>
</dd>
</dl>
</div>
</div>
</div>
<div class="container">
<ul class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<a href="#" target="_blank">
<img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/about01.png" alt="公司文化" class="img-responsive img1">
<img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/about01_hover.png" alt="公司文化" class="img-responsive img2">
</a>
</li>
<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<a href="#" target="_blank">
<img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/about02.png" alt="公司简介" class="img-responsive img1">
<img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/about02_hover.png" alt="公司简介" class="img-responsive img2">
</a>
</li>
<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<a href="#" target="_blank">
<img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/about03.png" alt="公司历程" class="img-responsive img1">
<img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/about03_hover.png" alt="公司历程" class="img-responsive img2">
</a>
</li>
</ul>
</div>
</div>
</div>
 
 
<div class="article">
<div class="article_bg">
<div class="container">
<div class="article_title">文章<small>articles</small><span></span></div>
<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/articleimg.jpg" class="img-responsive center-block">
</p>
<dl class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<dt class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
<span class="col-xs-2 col-sm-4 col-md-4 col-lg-4 date">
<div class="month">03</div>
<div class="day">15</div>
<em></em>
</span>
<span class="col-xs-10 col-sm-8 col-md-8 col-lg-8 title">HAVE A GOOD DAY</span>
</dt>
<dd class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>SE 
Brilliant Limited consider to insight into the natural disasters and 
fleeting fengshui flying star as company’s responsibility.
<br>And explain some of the little-known natural disasters and 
epidemics, the mysterious flying stars of the location of the infinity 
is very consistent.<br>From the scientific point of view and digital 
logic to explain to the customer about the so-called fengshui 
metaphysics of the secret, in fact, the results of digital projections, 
to share the fengshui subtle place, and customers brainstorming, while 
customers solve some difficult problems. Such as litigation, human 
relationship popularity.<br>
<a href="#" target="_blank"><img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/more.png" alt="更多" class="img-responsive"></a>
</dd>
</dl>
</div>
</div>
</div>
 
 
<div class="footer">
<div class="footer_top">
<div class="container" style="position:relative;">
<ul class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><a href="#" target="_blank">关于我们</a></li>
<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><a href="#" target="_blank">隐私</a></li>
<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><a href="#" target="_blank">&nbsp;</a></li>
<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><a href="#" target="_blank">条款及细节</a></li>
</ul>
<div class="footer_bq">Copyright © 2017 SE Brilliant</div>
</div>
</div>
<div class="footer_bottom">&nbsp;</div>
<a href="#" class="bottom_logo"><img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/logo.jpg" alt="万达文化" class="img-responsive"></a>
</div>
 
 
<ul class="col-xs-12 footer-wrap">
<li class="col-xs-4 cart"><a href="#"><img src="%E4%B8%87%E8%BE%BE%E6%96%87%E5%8C%96_files/cart_footer.png" alt="cart">（0）</a></li>
<li class="col-xs-4"><a href="#">登录</a></li>
<li class="col-xs-4 register"><a href="#">注册</a></li>
</ul>
 

</body></html>