{% extends "base.html" %}
{% load staticfiles i18n mezzanine_tags accounts_tags %}

{% block meta_title %}{% trans 'Pay' %}{% endblock %}
{% block title %}{% trans 'Pay' %}{% endblock %}
{% block body_id %}{% trans 'Pay' %}{% endblock %}

{% block left_panel %}
{% endblock %}

{% block breadcrumb_menu %}
{% endblock %}

{% block center %}
<div class="col-md-6 col-md-offset-3" id="alipay-received-box">
    <h3 id="alipay-received-header">{{ message }}</h3>
    <p>{{ body }}</p>
    {% if link %}
        <a href="{{ link }}">
            <div class="btn-base">
                <span class="btn_tl"><img src="{% static 'img/decor/white_tl.png' %}" class="img-responsive"></span>
                <span class="btn_br"><img src="{% static 'img/decor/white_br.png' %}" class="img-responsive"></span>
                <h4>{% trans 'Please try again' %}</h4>
            </div>
        </a>
    {% else %}
        <div class="col-sm-12 btn-container" id="article-btn-container">
            <a href="/">
                <div class="btn-base">
                    <span class="btn_tl"><img src="{% static 'img/decor/white_tl.png' %}" class="img-responsive"></span>
                    <span class="btn_br"><img src="{% static 'img/decor/white_br.png' %}" class="img-responsive"></span>
                    <p>{% trans "Return to home" %}</p>
                </div>
            </a>
    {#                    <span class="btn_tl"><img src="{% static 'img/decor/white_tl.png' %}" class="img-responsive"></span>#}
    {#                    <span class="btn_br"><img src="{% static 'img/decor/white_br.png' %}" class="img-responsive"></span>#}
    {#                    <a href="{% url 'upgrade' %}" class="btn-base">{% trans "Get Premium" %}</a>#}
        </div>
    {% endif %}

</div>

{% endblock center %}
